@charset "UTF-8";
.sys-info,
.diagnostics-info {
  background: rgb(89, 89, 89);
  border: 1px solid;
  padding: 15px 12px;
  display: inline-block;
  border-radius: 14px;
  box-shadow: 5px 5px 3px #888888;
}

.browser-info,
.opsys-info {
  vertical-align: middle;
  text-align: center;
}

.browser-data,
.opsys-data,
.cookie-data {
  font-size: 52px;
}

.image-icon {
  height: 52px;
  align-content: center;
}

.sys-alert-success {
  color: #00ac18;
  border: 1px solid #00ac18;
  display: inline-block;
  padding: 15px;
  margin: 15px;
  border-radius: 14px;
}

.sys-alert-warning {
  color: #fc5e13;
  border: 1px solid #fc5e13;
  display: inline-block;
  padding: 15px;
  margin: 15px;
  border-radius: 14px;
}

.sys-alert-error {
  color: #ee0612;
  border: 1px solid #ee0612;
  display: inline-block;
  padding: 15px;
  margin: 15px;
  border-radius: 14px;
}

/* DO NOT COPY ANY CSS BELOW THIS LINE */

body {
  font-family: Helvetica, Arial, sans-serif !important;
  text-align: center;
  padding-top: 15px;
}
